@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global Styles */
body {
  background-color: #050505; /* deep-void */
  color: white;
  overflow-x: hidden;
  cursor: none;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #050505;
}
::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #00f2ea; /* neon-teal */
}